<div class="inner-nav p-2">
  <div class="buttons justify-content-center">
    <button class="btn btn-success btn-sm">New Contact</button>
    <button class="btn btn-primary btn-sm">Add / Save Contact</button>
    <button class="btn btn-danger btn-sm">Delete Contact</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Search Contacts"/>
      </div>
      <div class="card-body">
        Contacts List
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <form>
      <div class="form-row">
        <div class="col">
          <label for="idFirstName">First Name</label>
          <input type="text" class="form-control" placeholder="First Name" id="idFirstName"/>
        </div>
        <div class="col">
          <label for="idLastName">Last Name</label>
          <input type="text" class="form-control" placeholder="Last Name" id="idLastName"/>
        </div>
      </div>
      <div class="form-group">
        <label for="idEmail">Email Address</label>
        <input type="text" class="form-control" placeholder="Email Address" id="idEmail">
      </div>
      <div class="form-group">
        <label for="idAddress1">Address Line 1</label>
        <input type="text" class="form-control" placeholder="Address 1" id="idAddress1">
      </div>
      <div class="form-group">
        <label for="idAddress2">Address Line 2</label>
        <input type="text" class="form-control" placeholder="Address 2" id="idAddress2">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity" placeholder="City">
        </div>
        <div class="form-group col-md-4">
          <label for="idCounty">County</label>
          <input type="text" class="form-control" placeholder="County" id="idCounty">
        </div>
        <div class="form-group col-md-2">
          <label for="idPostcode">Postcode</label>
          <input type="text" class="form-control" placeholder="Postcode" id="idPostcode">
        </div>
      </div>
    </form>
  </div>
</div>
