<div class="inner-nav p-2">
  <div class="buttons justify-content-center">
    <button (click)="initSelectedContact()" class="btn btn-success btn-sm">New Contact</button>
    <button (click)="saveContact()" class="btn btn-primary btn-sm">Add / Save Contact</button>
    <button (click)="deleteContact()" class="btn btn-danger btn-sm">Delete Contact</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="sidebar">
        <h4 style="text-align: center">Contacts</h4>
        <input class="form-control" type="text" placeholder="Search Contacts"/>
      </div>
      <div class="card-body">
        <ul class="list-group">

          <li class="list-group-item" *ngFor="let contact of contactList" (click)="selectContact(contact)">
            {{ contact.firstName }} {{ contact.lastName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="p-2">
        <h3>Contact Details</h3>
        <form>
          <div class="form-row">
            <div class="col">
              <label for="idFirstName">First Name</label>
              <input type="text" [(ngModel)]="selectedContact.firstName" name="firstName" class="form-control"
                     placeholder="First Name" id="idFirstName"/>
            </div>
            <div class="col">
              <label for="idLastName">Last Name</label>
              <input type="text" [(ngModel)]="selectedContact.lastName" name="lastName" class="form-control"
                     placeholder="Last Name" id="idLastName"/>
            </div>
          </div>
          <div class="form-group">
            <label for="idEmail">Email Address</label>
            <input type="text" [(ngModel)]="selectedContact.emailAddress" name="emailAddress" class="form-control"
                   placeholder="Email Address" id="idEmail">
          </div>
          <div class="form-group">
            <label for="idAddress1">Address Line 1</label>
            <input type="text" [(ngModel)]="selectedContact.address1" name="address1" class="form-control"
                   placeholder="Address 1" id="idAddress1">
          </div>
          <div class="form-group">
            <label for="idAddress2">Address Line 2</label>
            <input type="text" [(ngModel)]="selectedContact.address2" name="address2" class="form-control"
                   placeholder="Address 2" id="idAddress2">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" [(ngModel)]="selectedContact.city" name="city" class="form-control" id="inputCity"
                     placeholder="City">
            </div>
            <div class="form-group col-md-4">
              <label for="idCounty">County</label>
              <input type="text" [(ngModel)]="selectedContact.county" name="county" class="form-control"
                     placeholder="County" id="idCounty">
            </div>
            <div class="form-group col-md-2">
              <label for="idPostcode">Postcode</label>
              <input type="text" [(ngModel)]="selectedContact.postcode" name="postcode" class="form-control"
                     placeholder="Postcode" id="idPostcode">
            </div>
          </div>
        </form>
        <div class="inner-nav">
          <h3 class="title">Activities</h3>
          <div class="buttons justify-content-center">
            <button (click)="addNewReminder(selectedContact.id)" class="btn btn-success btn-sm">Add Activity</button>
          </div>
        </div>
          <table *ngIf="selectedContactReminders && selectedContactReminders.length > 0" class="table table-sm">
            <tr>
              <th>Subject</th>
              <th>Type</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let reminder of selectedContactReminders" (click)="selectReminder(reminder)">
              <td>{{ reminder.subject }}</td>
              <td>{{ reminder.type.typeName }}</td>
              <td>{{ reminder.date }}</td>
            </tr>
          </table>
          <h3 style="text-align: center" *ngIf="!selectedContactReminders || selectedContactReminders.length < 1">No Reminders</h3>
      </div>
    </div>
  </div>
</div>
